# Commissioner Time in Office

How long do commissioners spend in office? How many changes are there between elections? Who has served the longest?

In [24]:
import pandas as pd
from datetime import datetime
from matplotlib import pyplot as plt

In [2]:
commissioners = pd.read_csv('../data/commissioners.csv')

In [5]:
commissioners['start_date'] = pd.to_datetime(commissioners['start_date'])
commissioners['end_date'] = pd.to_datetime(commissioners['end_date'])

## Commissioner changes since last election

In [9]:
commissioners[commissioners['start_date'] > datetime(2021,1,3)]

,person_id,smd_id,commissioner_name,is_chair,start_date,end_date,notes
423,10622,smd_1B11,Amanda Farnan,NaN,2021-06-18,2023-01-02,NaN
424,10623,smd_2A08,Margaret McDonald,NaN,2021-05-28,2023-01-02,NaN
425,10624,smd_7B03,Travis R. Swanson,NaN,2021-06-17,2023-01-02,NaN
426,10625,smd_7E03,De'ashia Deas,NaN,2021-05-28,2023-01-02,NaN
427,10626,smd_7F07,Joel Castόn,NaN,2021-06-25,2023-01-02,NaN
428,10627,smd_3F07,James Tandaric,NaN,2021-07-09,2023-01-02,NaN
429,10628,smd_4B05,Graham Button,NaN,2021-07-09,2023-01-02,NaN
430,10629,smd_1A06,Brandolon Barnett,NaN,2021-09-03,2023-01-02,NaN
431,10630,smd_8E03,LaQueta Tate,NaN,2021-10-15,2023-01-02,NaN
432,10631,smd_5C06,Harry Thomas Jr.,NaN,2021-11-05,2023-01-02,NaN
433,10632,smd_1C07,Jake Faleschini,NaN,2021-11-05,2023-01-02,NaN
434,10633,smd_2B02,Jeff Rueckgauer,NaN,2021-12-03,2023-01-02,NaN
435,10634,smd_5A04,Alex Rojas,NaN,2021-12-03,2023-01-02,NaN
436,10635,smd_6D01,Marjorie Lightman,NaN,2021-12-13,2023-01-02,NaN

In [11]:
(commissioners['start_date'] > datetime(2021,1,3)).sum()

14

In [17]:
commissioners[(commissioners['end_date'] > datetime(2021,1,3)) & (commissioners['end_date'] < datetime(2023,1,1))]

,person_id,smd_id,commissioner_name,is_chair,start_date,end_date,notes
2,10003,smd_1A03,Zach Rybarczyk,NaN,2019-01-02,2021-08-31,asked for actual date
11,10012,smd_1A12,Jason Clock,NaN,2019-01-02,2021-08-13,NaN
20,10021,smd_1B10,Danny Delaney,NaN,2019-01-02,2021-09-10,NaN
21,10022,smd_1B11,Robb Hudson,NaN,2019-01-02,2021-04-29,NaN
23,10024,smd_1C01,Amir Irani,True,2019-01-02,2021-12-10,NaN
28,10029,smd_1C07,Japer Bowles,NaN,2019-01-02,2021-08-12,NaN
44,10045,smd_2B02,Daniel Warwick,True,2019-01-02,2021-10-02,Resignation announcement: https://twitter.com/...
59,10060,smd_2E04,Anna Landre,NaN,2019-01-02,2021-07-09,NaN
63,10064,smd_2E08,Matias Burdman,NaN,2019-01-02,2021-07-23,NaN
112,10113,smd_3G07,Chris Fromboluti,NaN,2019-01-02,2021-10-12,NaN
285,10288,smd_1A06,Judson Wood,NaN,2021-01-02,2021-07-23,NaN
291,10299,smd_1C05,Zack Gold,NaN,2021-01-02,2021-10-05,Resignation announcement: https://twitter.com/...
362,10476,smd_8D06,Alyse Newhouse,NaN,2021-01-02,2021-11-19,NaN
369,10495,smd_3F07,Matt Buechner,NaN,2021-01-02,2021-05-27,NaN
395,10554,smd_4A05,Carolyn C. Steptoe,NaN,2021-01-02,2021-05-21,NaN
405,10581,smd_5C06,Harry L. Thomas III,NaN,2021-01-02,2021-04-29,NaN
411,10603,smd_6D01,Andrew Bossi,NaN,2021-01-02,2021-10-19,End date confirmed via email autoreply
419,10616,smd_7B03,Lindsey Botts,NaN,2021-01-02,2021-04-15,NaN

In [15]:
((commissioners['end_date'] > datetime(2021,1,3)) & (commissioners['end_date'] < datetime(2023,1,1))).sum()

18

## Shortest and Longest Serving Commissioners

In [21]:
commissioners['time_in_office'] = commissioners['end_date'] - commissioners['start_date']

In [22]:
commissioners.sort_values(by='time_in_office')

,person_id,smd_id,commissioner_name,is_chair,start_date,end_date,notes,time_in_office
419,10616,smd_7B03,Lindsey Botts,NaN,2021-01-02,2021-04-15,NaN,103 days
405,10581,smd_5C06,Harry L. Thomas III,NaN,2021-01-02,2021-04-29,NaN,117 days
395,10554,smd_4A05,Carolyn C. Steptoe,NaN,2021-01-02,2021-05-21,NaN,139 days
369,10495,smd_3F07,Matt Buechner,NaN,2021-01-02,2021-05-27,NaN,145 days
285,10288,smd_1A06,Judson Wood,NaN,2021-01-02,2021-07-23,NaN,202 days
...,...,...,...,...,...,...,...,...
189,10190,smd_6B02,Gerald Sroufe,NaN,2019-01-02,2023-01-02,NaN,1461 days
188,10189,smd_6B01,Jennifer E. Samolyk,NaN,2019-01-02,2023-01-02,NaN,1461 days
187,10188,smd_6A08,Brian Alcorn,NaN,2019-01-02,2023-01-02,NaN,1461 days
193,10194,smd_6B06,Corey Holman,NaN,2019-01-02,2023-01-02,NaN,1461 days
218,10219,smd_7B02,Tiffany L. Brown,NaN,2019-01-02,2023-01-02,NaN,1461 days

In [26]:
commissioners.groupby('time_in_office').size()

time_in_office
103 days       1
117 days       1
139 days       1
145 days       1
202 days       1
276 days       1
290 days       1
321 days       1
322 days       1
337 days       1
385 days       1
394 days       1
395 days       2
423 days       2
444 days       1
455 days       1
486 days       1
542 days       2
552 days       1
555 days       1
556 days       1
563 days       1
564 days       1
576 days       1
581 days       1
584 days       2
730 days     129
731 days     126
848 days       1
919 days       1
933 days       1
953 days       1
954 days       1
972 days       1
982 days       1
1004 days      1
1014 days      1
1073 days      1
1139 days      1
1461 days    141
dtype: int64