Break all district races down into categories and count them.

In [1]:
import os
os.chdir('../')

import pandas as pd

from scripts.common import list_commissioners, build_results_candidate_people

In [2]:
rcp = build_results_candidate_people()

In [3]:
rcp['incumbent_won'] = False
rcp.loc[rcp.winner & rcp.is_incumbent, 'incumbent_won'] = True

In [5]:
rcp.groupby('smd_id').agg(
    incumbent_ran = ('is_incumbent', 'any')
    , incumbent_won = ('incumbent_won', 'any')
)

          incumbent_ran  incumbent_won
smd_id
smd_1A01           True           True
smd_1A02          False          False
smd_1A03           True           True
smd_1A04          False          False
smd_1A05           True           True
...                 ...            ...
smd_8E03          False          False
smd_8E04           True           True
smd_8E05           True          False
smd_8E06           True          False
smd_8E07           True          False

[296 rows x 2 columns]