Break all district races down into categories and count them.

In [1]:
import os
os.chdir('../')

import pandas as pd

from scripts.common import list_commissioners, build_results_candidate_people

In [2]:
rcp = build_results_candidate_people()

In [3]:
rcp['incumbent_won'] = False
rcp.loc[rcp.winner & rcp.is_incumbent, 'incumbent_won'] = True

In [5]:
rcp.groupby('smd_id').agg(
    incumbent_ran = ('is_incumbent', 'any')
    , incumbent_won = ('incumbent_won', 'any')
)

          incumbent_ran  incumbent_won
smd_id
smd_1A01           True           True
smd_1A02          False          False
smd_1A03           True           True
smd_1A04          False          False
smd_1A05           True           True
...                 ...            ...
smd_8E03          False          False
smd_8E04           True           True
smd_8E05           True          False
smd_8E06           True          False
smd_8E07           True          False

[296 rows x 2 columns]

In [6]:
rcp

,candidate_id,candidate_matched,candidate_name_x,dcboe_hash_id_x,smd_id,contest_number,name_from_results,votes,vote_share,ranking,...,full_name,current_smd_id,running_for_smd_id,twitter_link,facebook_link,website_link,researched,is_incumbent,write_in_winner_int,incumbent_won
547,50303.0,1,Layla Bonnot,e8195655180312077cb1e91cf408b100930da182291bc8...,smd_1A01,18,Layla Bonnot,501,96.53%,1,...,Layla Bonnot,not_currently_serving,smd_1A01,https://twitter.com/LaylaBonnot,NaN,https://www.votelayla.com/meet-layla,x,True,0,True
291,NaN,0,NaN,5b29783f24af247e41a2c343d2b98fda453a7b4ce38d38...,smd_1A01,18,Write-in,18,3.47%,2,...,Write-ins combined,NaN,NaN,NaN,NaN,NaN,NaN,False,0,False
296,50001.0,1,Dieter Lehmann Morales,fbcfd3f6b447c45fb65e455da966c98b2462654e9a8abe...,smd_1A02,19,Dieter Lehmann Morales,761,95.48%,1,...,Dieter Lehmann Morales,not_currently_serving,smd_1A02,NaN,NaN,NaN,x,False,0,False
282,NaN,0,NaN,f6477dac22020261dc59ae365f6a5d0ecf08a4ce3318bc...,smd_1A02,19,Write-in,36,4.52%,2,...,Write-ins combined,NaN,NaN,NaN,NaN,NaN,NaN,False,0,False
297,50002.0,1,Zach Rybarczyk,93619b5aa6e7a651f0d0db86887f91ea74a4ce64d4cc8f...,smd_1A03,20,Zach Rybarczyk,598,97.08%,1,...,Zach Rybarczyk,not_currently_serving,smd_1A03,https://twitter.com/zach_rybarczyk,NaN,NaN,x,True,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,50302.0,1,"Karlene ""K"" Armstead",b9cb0cbe30e60d9a0ba92eeaca8c985d38087607e994d4...,smd_8E06,312,Karlene (K.) Armstead,317,37.34%,2,...,"Karlene ""K"" Armstead",not_currently_serving,smd_8E06,NaN,NaN,NaN,x,True,0,False
128,NaN,0,NaN,dce386cb378a0e25260961d44f463a8b27c6b43935cdfd...,smd_8E06,312,Write-in,22,2.59%,3,...,Write-ins combined,NaN,NaN,NaN,NaN,NaN,NaN,False,0,False
524,50275.0,1,"Jeannina ""W8 Matters"" Williams",aed0feb03fd0219ac42fee7f0a8c5a77c9c5bf9fb013f1...,smd_8E07,313,"Jeannina ""Ward 8 Matters"" Williams",721,79.49%,1,...,"Jeannina ""W8 Matters"" Williams",not_currently_serving,smd_8E07,NaN,NaN,NaN,x,False,0,False
618,50386.0,1,Stephen A. Slaughter,186be9af5a61f80a402539dc66023489979658ba2c49bb...,smd_8E07,313,Stephen A. Slaughter,177,19.51%,2,...,Stephen A. Slaughter,not_currently_serving,smd_8E07,NaN,https://www.facebook.com/anccommissioner.slaug...,NaN,x,True,0,False
203,NaN,0,NaN,26009192e6fa76a714b2ec70720b98c8a9d3db0d047466...,smd_8E07,313,Write-in,9,0.99%,3,...,Write-ins combined,NaN,NaN,NaN,NaN,NaN,NaN,False,0,False