List of twitter accounts of commissioners active in 2021-2023

In [1]:
import os
os.chdir('../')

import pytz
import pandas as pd
from datetime import datetime

from scripts.common import list_commissioners, build_results_candidate_people

In [2]:
# Commissioners active in 2021
date_point_2021 = datetime(2021, 1, 5, tzinfo=pytz.timezone('America/New_York'))
commissioners_2021 = list_commissioners(status='current', date_point=date_point_2021)

In [3]:
# commissioners_2021[commissioners_2021['is_current']]
people = pd.read_csv('data/people.csv')
districts = pd.read_csv('data/districts.csv')

In [4]:
dc = pd.merge(districts, commissioners_2021, how='left', on='smd_id')
dcp = pd.merge(dc, people, how='left', on='person_id')

In [5]:
dcp['start'] = dcp['start_date'].dt.date
dcp['end'] = dcp['end_date'].dt.date

In [6]:
twttr = dcp[['smd_id', 'person_id', 'full_name', 'start', 'end', 'twitter_link']].sort_values(by='smd_id')

In [7]:
twttr.to_clipboard(index=False)
twttr

,smd_id,person_id,full_name,start,end,twitter_link
0,smd_1A01,10001.0,Layla Bonnot,2019-01-02,2023-01-02,https://twitter.com/LaylaBonnot
1,smd_1A02,10285.0,Dieter Lehmann Morales,2021-01-02,2023-01-02,NaN
2,smd_1A03,10003.0,Zach Rybarczyk,2019-01-02,2023-01-02,NaN
3,smd_1A04,10496.0,Chris Hall,2021-01-02,2023-01-02,NaN
4,smd_1A05,10005.0,Christine Miller,2019-01-02,2023-01-02,https://twitter.com/MillerANC1A05
...,...,...,...,...,...,...
291,smd_8E03,NaN,NaN,NaT,NaT,NaN
292,smd_8E04,10281.0,Kendall Simmons,2019-01-02,2023-01-02,NaN
293,smd_8E05,10441.0,Shaquan Hudson,2021-01-02,2023-01-02,NaN
294,smd_8E06,10442.0,Brittany Geneva Cummings,2021-01-02,2023-01-02,https://twitter.com/bgc4dc
295,smd_8E07,10443.0,"Jeannina ""W8 Matters"" Williams",2021-01-02,2023-01-02,NaN

In [8]:
twttr.twitter_link.notnull().sum()

164

In [9]:
# twttr[twttr.person_id.notnull()]['person_id'].tolist()